html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	background-color: #e9ddaf;
	text-align: center;
}


.container {
	display: flex;
	flex-direction: column;
	height: 500px;
}

.controls-top {
	/*flex: 1;*/
	width: 100%;
	order: -1;
	border: 3px solid green;
}

.controls-bottom {
	/*flex: 1;*/
	width: 100%;
	border: 3px solid blue;
}

.graph {
	/*flex: 5;*/
	width: 100%;
	border: 3px solid orange;
	padding: 30px;
}

.graph canvas {
	display: block;
	width: 100%;
	/*height: 100%;*/
	padding-bottom: 25%;
	background: grey;
	/*border: 1px solid blue;*/
}

@media screen and (min-width: 700px) {
	.container {
		flex-wrap: wrap;
	}
	.container > .graph {
		flex-basis: 100%;
		width: 60%;
	}
	.container > .controls-top {
		flex-basis: 50%;
		width: 40%;
		order: 0;
	}
	.container > .controls-bottom {
		flex-basis: 50%;
		width: 40%;
	}
}
