html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	background-color: #e9ddaf;
	text-align: center;
	margin: 0 auto;
	font: 16px Verdana, Geneva, sans-serif;
	max-width: 980px;
	/*letter-spacing: 0.1px;*/
}


.container {
	max-width: 1200px;
	position: relative;
}

.controls-top {
	background: yellow;
}
.controls-bottom {
	background: aqua;
}
.graph {
	padding: 20px;
	/*background: pink;*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
	font-size: 11px;
}

.graph .y-axis {
	width: 32px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.graph .canvas-wrapper {
	flex: 1;
	padding: 7px 14px;
}
.graph .x-axis {
	width: 100%;
	height: 17px;
	margin-left: 32px;  /* the same as y-axis width */
	display: flex;
	justify-content: space-between;
}

.graph .x-axis > div {
	flex-basis: 28px;
/*	border: 1px solid white;*/
}
.graph .y-axis > div {
	text-align: end;
/*	border: 1px solid white;*/
}




.graph canvas {
	border: 1px solid #666;
	width: 100%;
	height: 100%;
	transform: scale(1, -1);
	background-image: url(grid.svg);
	background-color: white;
}


@media screen and (min-width: 700px) {
	.container > .graph {
		width: 60%;
		font-size: 12px;
	}
	.container > .controls-top {
		width: 40%;
		position: absolute;
		right: 0;
	}
	.container > .controls-bottom {
		width: 40%;
		position: absolute;
		right: 0;
		top: 200px;
	}
}

/*
@media screen and (max-width: 420px) {
	.graph .canvas-wrapper {
		flex: 1;
		background: grey;
		padding: 10px 13px;
	}
	.graph .x-axis > div {
		flex-basis: 26px;
	}
}
*/